---
openapi: 3.0.3
info:
  title: Inform API for TTP Plans to CESA and ETMP
  description: |
    An API called by CDCS when a customer sets up a TTP via an operator to trigger the TTP service to inform HoDs (via different APIs) so the TTP can be monitored.

    ```

    Change Log

    ```
      | Version | Date | Author | Description |
      |---|-----|------|-----|
      | 0.0.1| 20-04-2024 | Alex Olkhovskiy | Baselined Version |
  version: 0.0.1
servers:
  - url: https://api.service.hmrc.gov.uk/
tags:
  - name: individuals
    description: Inform CDCS TTP plans to HoDs (CESA and ETMP)
paths:
  /individuals/time-to-pay-proxy/inform:
    post:
      tags:
        - individuals
      summary: Inform HoDs of SA TTP Operator-led Plan (CESA + ETMP)
      parameters:
        - name: correlationId
          in: header
          description: Correlation Id used for end to end traceability
          required: true
          schema:
            type: string
            format: uuid
            example: f0bd1f32-de51-45cc-9b18-0520d6e3ab1a
      security:
        - applicationRestricted:
            - read:time-to-pay-proxy
      requestBody:
        description: Request body with fields to create a TTP in CESA and ETMP.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InformRequest"
            examples:
              example:
                summary: Sample request for Inform API
                value:
                  identifications:
                    - idType: UTR
                      idValue: "1234567890"
                  paymentPlan:
                    arrangementAgreedDate: "2025-05-01"
                    ttpEndDate: "2025-11-01"
                    initialPaymentDate: "2025-05-05"
                    initialPaymentAmount: 150.00
                    frequency: monthly
                    ddiReference: "DD123456789"
                  instalments:
                    - dueDate: "2025-06-01"
                      amountDue: 300.00
                  channelIdentifier: "advisor"
                  transitioned: true
      responses:
        '200':
          description: Inform API operation was successful or Hod Failure (partial or complete)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InformSuccessResponse"
              examples:
                successExample:
                  summary: Success example with both APIs called
                  value:
                    apisCalled:
                      - name: CESA
                        statusCode: "200"
                        processingDateTime: "2025-05-01T14:30:00Z"
                      - name: ETMP
                        statusCode: "201"
                        processingDateTime: "2025-05-01T14:31:00Z"
                    processingDateTime: "2025-05-01T14:32:00Z"
        '400':
          description: Bad request due to invalid or missing data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                badRequestExample:
                  summary: Invalid request example
                  value:
                    code: 400
                    details: "Invalid request payload: missing identifications"
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InformErrorResponse"
              examples:
                partialFailureExample:
                  summary: Partial failure example with error shown
                  value:
                    apisCalled:
                      - name: CESA
                        statusCode: "200"
                        processingDateTime: "2025-05-01T14:30:00Z"
                      - name: ETMP
                        statusCode: "400"
                        processingDateTime: "2025-05-01T14:31:00Z"
                        errorResponse: "Invalid lockReason"
                    internalErrors: [{"message":"internal error 1"}, {"message":"internal error 2"}]
                    processingDateTime: "2025-05-01T14:32:00Z"
components:
  securitySchemes:
    userRestricted:
      type: oauth2
      description: |
        HMRC supports OAuth 2.0 for authenticating user restricted API requests using an OAuth 2.0 Bearer Token in the AUTHORIZATION header.
        See https://developer.service.hmrc.gov.uk/api-documentation/docs/authorisation/user-restricted-endpoints for details.
      flows:
        authorizationCode:
          authorizationUrl: https://api.service.hmrc.gov.uk/oauth/authorize
          tokenUrl: https://api.service.hmrc.gov.uk/oauth/token
          refreshUrl: https://api.service.hmrc.gov.uk/oauth/refresh
          scopes: {}
    applicationRestricted:
      type: oauth2
      description: |
        HMRC supports OAuth 2.0 for authenticating application restricted API requests using an OAuth 2.0 Bearer Token in the AUTHORIZATION header.
        See https://developer.service.hmrc.gov.uk/api-documentation/docs/authorisation/application-restricted-endpoints for details.
      flows:
        clientCredentials:
          tokenUrl: https://api.service.hmrc.gov.uk/oauth/token
          scopes:
            "read:time-to-pay-proxy": "read ttp data"

  schemas:
    Identification:
      type: object
      required:
        - idType
        - idValue
      properties:
        idType:
          type: string
          description: Identifier type, e.g. UTR, EMPREF
          pattern: "^[A-Za-z0-9]{1,6}$"
          example: UTR
        idValue:
          type: string
          description: Identifier value
          pattern: "^[A-Za-z0-9]{1,25}$"
          example: "1234567890"
    Instalment:
      type: object
      required:
        - dueDate
        - amountDue
      properties:
        dueDate:
          type: string
          format: date
          description: Due date for each regular instalment
          example: "2025-06-01"
        amountDue:
          type: number
          multipleOf: 0.01
          description: Amount due for the instalment
          example: 300.00
        # Add any additional fields as needed here with descriptions and examples
    PaymentPlan:
      type: object
      required:
        - arrangementAgreedDate
        - ttpEndDate
        - frequency
      properties:
        arrangementAgreedDate:
          type: string
          format: date
          description: The date when the plan was created
          example: "2025-05-01"
        ttpEndDate:
          type: string
          format: date
          description: Date for the last payment/instalment
          example: "2025-11-01"
        frequency:
          type: string
          enum:
            - single
            - weekly
            - 2Weekly
            - 4Weekly
            - monthly
            - quarterly
            - 6Monthly
            - annually
          description: Payment frequency (Note - quarterly will not be provided as it is prevented in CDCS)
          example: monthly
        initialPaymentDate:
          type: string
          format: date
          description: Optional upfront payment date
          example: "2025-05-05"
        initialPaymentAmount:
          type: number
          multipleOf: 0.01
          description: Optional upfront payment amount
          example: 150.00
        ddiReference:
          type: string
          description: Direct Debit Instruction reference number, if applicable
          example: "DD123456789"
    InformRequest:
      type: object
      required:
        - identifications
        - paymentPlan
        - instalments
        - channelIdentifier
      properties:
        identifications:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Identification'
          description: Array of identifiers for the customer
        paymentPlan:
          $ref: '#/components/schemas/PaymentPlan'
        instalments:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Instalment'
          description: Array of payment instalments
        channelIdentifier:
          type: string
          enum:
            - advisor
            - selfService
          description: Channel through which arrangement was made (e.g. advisor, selfService)
          example: "advisor"
        transitioned:
          type: boolean
          description: Indicates whether the customer only has FDLs.
          example: true
    InformAPIStatus:
      type: object
      required:
        - name
        - statusCode
        - processingDateTime
      properties:
        name:
          type: string
          description: The API name (CESA or ETMP)
          example: CESA
        statusCode:
          type: string
          description: HTTP status code from the downstream API
          example: "200"
        processingDateTime:
          type: string
          format: date-time
          description: Timestamp of processing the request in downstream API
          example: "2025-05-01T14:30:00Z"
        errorResponse:
          type: string
          description: Error message if downstream API call failed
          example: "Invalid request"
    InformSuccessResponse:
      type: object
      required:
        - apisCalled
        - processingDateTime
      properties:
        apisCalled:
          type: array
          items:
            $ref: "#/components/schemas/InformAPIStatus"
          description: Status of calls to each HoD API
        processingDateTime:
          type: string
          format: date-time
          description: Timestamp for processing the inform request
          example: 2025-05-01T14:35:00Z
    InformErrorResponse:
      type: object
      required:
        - apisCalled
        - internalErrors
        - processingDateTime
      properties:
        apisCalled:
          type: array
          items:
            $ref: "#/components/schemas/InformAPIStatus"
          description: Status of calls to each HoD API (present when HoD APIs were called
            successfully)
        internalErrors:
          type: array
          items:
            type: object
            required:
              - message
            properties:
              message:
                type: string
                description: Error message describing the internal failure
                example: Could not parse response from calling CESA
          description: Internal errors that occurred during processing (present when TTP
            cannot parse HoD responses)
        processingDateTime:
          type: string
          format: date-time
          description: Timestamp for processing the cancel request
          example: 2025-10-15T10:31:00Z
    ErrorResponse:
      type: object
      required:
        - code
        - details
      properties:
        code:
          type: integer
          example: 400
        details:
          type: string
          example: "Invalid request payload: missing identifications"