openapi: 3.0.0
info:
  title: Time To Pay Proxy
  description: >
    This API provides resources related to [Time To Pay]
    (https://confluence.tools.tax.service.gov.uk/display/DTDT/TTP+1).

    When an API changes in a way that is backwards-incompatible, we increase the
    version number of the API.

    See our [reference
    guide](/api-documentation/docs/reference-guide#versioning) for more on

    versioning.

    We use standard HTTP status codes to show whether an API request succeeded
    or not. They are usually in the range:

    * 200 to 299 if it succeeded, including code 202 if it was accepted by an
    API that needs to wait for further action

    * 400 to 499 if it failed because of a client error by your application

    * 500 to 599 if it failed because of an error on our server


    Errors specific to each API are shown in the Endpoints section, under
    Response.

    See our [reference guide](/api-documentation/docs/reference-guide#errors)
    for more on errors.

    You can use the [HMRC Developer
    Sandbox](https://test-developer.service.hmrc.gov.uk/api-documentation/docs/sandbox/introduction)

    to test the API. The Sandbox is an enhanced testing service that functions
    as a simulator of HMRC’s production environment.

    HMRC monitors transactions to help protect your customers' confidential data
    from criminals and fraudsters.


    <div class="govuk-warning-text warning-icon-fix">
      <span class="govuk-warning-text__icon warning-icon-ui-fix" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You are required by law to submit header data for this API. This includes all associated APIs and endpoints.
      </strong>
    </div>


    [Check the data you need to send](/guides/fraud-prevention/). You can also
    use the [Test
    API](/api-documentation/docs/api/service/txm-fph-validator-api/1.0) during
    initial development and as part of your quality assurance checks.

    ```

    Change Log

    ```
      | Version | Date | Author | Description |
      |---|-----|------|-----|
      | 1.0.0 | 11-03-2023 | Jorma Pajunen | Baselined Version |
      | 1.0.1 | 27-03-2024 | Jorma Pajunen | Added new affordable quotes endpoint |
      | 1.0.2 | 12-04-2024 | Jorma Pajunen | Added new affordable quotes endpoint |
      | 1.0.3 | 16-04-2024 | Vinnie Brice  | Sets InitialCollection to an object and removes duplicate |
      | 1.0.4 | 18-04-2024 | Vinnie Brice  | Removes unused Schema AJSONSchemaforTTPAPI.7 |
      | 1.0.5 | 19-02-2025 | Alex Olkhovskiy | Update schema to match the current code state |
      | 1.0.6 | 14-05-2025 | Alex Olkhovskiy | Added expectedPayment field to installments schema and response examples |
      | 1.0.7 | 14-05-2025 | Alex Olkhovskiy | Added channelIdentifier field to schemas to support Self Assessment debts |
      | 1.0.8 | 14-05-2025 | Alex Olkhovskiy | Added regimeType and dueDate fields to support Self Assessment debts |
      | 1.0.9 | 14-05-2025 | Alex Olkhovskiy | Add regimeType to /affordable-quotes endpoint |
      | 1.0.10 | 14-05-2025 | Alex Olkhovskiy | Added regimeType, chargeSource, parentMainTrans, parentChargeReference and dueDate fields to DebtItemChargeArrangementRequest schema |
      | 1.0.11 | 10-07-2025 | Alex Olkhovskiy | Added new charge-info proxy endpoint to get customer charge information |
      | 1.0.12 | 23-07-2025 | Alex Olkhovskiy | make regimeType enum |
      | 1.0.13 | 08-07-2025 | Alex Olkhovskiy | make indentations in charge-info request non-empty, remove altFormat and country|
      | 1.0.14 | 14-08-2025 | Alex Olkhovskiy | refactor the spec with linter|
      | 1.0.15 | 18-09-2025 | Alex Olkhovskiy | Restrict regimeType enum to only 'SA' value for /quote endpoint |
      | 1.0.15-proposedF | 18-09-2025 | Alex Olkhovskiy | Add 409 conflict response to PUT /quote endpoint for duplicate plan ID|
      | 1.0.15-cancel-inform| 23-09-2024 | Alex Olkhovskiy | Added new cancel and inform endpoint    |
  contact: {}
  version: 1.0.15-cancel-inform
servers:
  - url: https://api.service.hmrc.gov.uk
    variables: {}
paths:
  /individuals/time-to-pay-proxy/quote:
    $ref: paths/individuals_time-to-pay-proxy_quote.yaml
  /individuals/time-to-pay-proxy/quote/arrangement:
    $ref: paths/individuals_time-to-pay-proxy_quote_arrangement.yaml
  /individuals/time-to-pay-proxy/quote/{customerReference}/{planId}:
    $ref: >-
      paths/individuals_time-to-pay-proxy_quote_{customerReference}_{planId}.yaml
  /individuals/time-to-pay-proxy/self-serve/affordable-quotes:
    $ref: paths/individuals_time-to-pay-proxy_self-serve_affordable-quotes.yaml
  /individuals/time-to-pay-proxy/charge-info:
    $ref: paths/individuals_time-to-pay-proxy_charge-info.yaml
  /individuals/time-to-pay-proxy/cancel:
    $ref: paths/individuals_time-to-pay-proxy_cancel.yaml
  /individuals/time-to-pay-proxy/inform:
    $ref: paths/individuals_time-to-pay-proxy_inform.yaml
components:
  securitySchemes:
    userRestricted:
      type: oauth2
      description: >
        HMRC supports OAuth 2.0 for authenticating user restricted API requests
        using an OAuth 2.0 Bearer Token in the AUTHORIZATION header.

        See
        https://developer.service.hmrc.gov.uk/api-documentation/docs/authorisation/user-restricted-endpoints
        for details.
      flows:
        authorizationCode:
          authorizationUrl: https://api.service.hmrc.gov.uk/oauth/authorize
          tokenUrl: https://api.service.hmrc.gov.uk/oauth/token
          refreshUrl: https://api.service.hmrc.gov.uk/oauth/refresh
          scopes: {}
    applicationRestricted:
      type: oauth2
      description: >
        HMRC supports OAuth 2.0 for authenticating application restricted API
        requests using an OAuth 2.0 Bearer Token in the AUTHORIZATION header.

        See
        https://developer.service.hmrc.gov.uk/api-documentation/docs/authorisation/application-restricted-endpoints
        for details.
      flows:
        clientCredentials:
          tokenUrl: https://api.service.hmrc.gov.uk/oauth/token
          scopes:
            read:time-to-pay-proxy: read ttp data
tags:
  - name: individuals
    description: ''
